.button {
    -fx-background-color: #22FF00;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10,0,0,0);
}